<div class="menu">

      <ul class="nav justify-content-end nav-pills mb-3" id="pills-tab" role="tablist">
        <img class="logo" src="../../assets/Img/Sin.gif" alt="">
          <li class="nav-item nav-link "  routerLink="Inicio">
            <a> Inicio</a>
          </li>
          <li class="nav-item nav-link "  routerLink="proyectos">
            <a>Proyectos</a>
          </li>
          <li class="nav-item nav-link "  routerLink="E1">
            <a>Mano de obra</a>
          </li>
          <li class="nav-item nav-link "  routerLink="E2">
            <a>Gastos clientes</a>
          </li>
          <li class="nav-item nav-link "  routerLink="E3">
            <a>Cronograma </a>
          </li>
        </ul>
</div>
