.titulo{
  padding-top: 6%;
  font-size: 190%;
  text-align: center;
  color: #15f81c;
  background: #FFFFFF;
  text-shadow: #e0e0e0 1px 1px 0;
}
table.table {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border: 1px solid #000000;
  text-align: center;
}
table.table td, table.table th {
  border: 2px solid #000000;
}
table.table tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
table.table tr:nth-child(even) {
  background: #A9F5A6;
}
table.table thead {
  background: #00F00C;
  background: -moz-linear-gradient(top, #40f449 0%, #19f124 66%, #00F00C 100%);
  background: -webkit-linear-gradient(top, #40f449 0%, #19f124 66%, #00F00C 100%);
  background: linear-gradient(to bottom, #40f449 0%, #19f124 66%, #00F00C 100%);
  border-bottom: 2px solid #000000;
}
table.table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #5BF55E;
}
table.table thead th:first-child {
  border-left: none;
}

table.table tfoot td {
  font-size: 14px;
}
table.table tfoot .links {
  text-align: right;
}
table.table tfoot .links a{
  display: inline-block;
  background: #A4A4A4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.form-control {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 0;
  border: 1px solid #c4ccc3;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, rgba(175,244,171,1) 0, rgba(24,170,13,0.44) 100%);
  background: -moz-linear-gradient(180deg, rgba(175,244,171,1) 0, rgba(24,170,13,0.44) 100%);
  background: linear-gradient(180deg, rgba(175,244,171,1) 0, rgba(24,170,13,0.44) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;

}
