<section class="contorno">
  <img class="img" height="700" src="../../../assets/Img/Portada.jpg" alt="">
  <p class="letras">DISEÑO Y CONSTRUCCION</p>
  <p class="letras1">HAZ REALIDAD TUS PROYECTOS</p>
  <pre class="letras2">Nuestra meta es contribuir al desarollo y construir futuro mediante la
    excelencia en el diseño arquitectonico </pre>
    <div class="circulo"></div>
    <button class ="Contacto">CONTACTANOS</button>
</section>
  <img  class="img1" src="../../../assets/Img/CHULO.gif" alt="">
  <img class="img2" src="../../../assets/Img/CHAT.gif" alt="">
  <img class="img3" src="../../../assets/Img/PC.gif" alt="">
  <img class="img4" src="../../../assets/Img/Grafica.gif" alt="">






